# Postgres Credentials
POSTGRES_USER=lion_user
POSTGRES_PASSWORD=lion_password
POSTGRES_DB=lion_source

# ClickHouse Credentials
CLICKHOUSE_USER=lion_user
CLICKHOUSE_PASSWORD=lion_password
CLICKHOUSE_DB=lion_dwh

# Airflow Admin Credentials
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_ROLE=admin
TZ=Asia/Jakarta

# Airflow Core Tuning
AIRFLOW__CORE__MAX_ACTIVE_TASKS_PER_DAG=4
